.caption{
    background-color: yellow; text-align: center;"
  }
  .zae{
      background-color: red;
  }
  .soe{
      background-color: green;
  }
  .zoe{
     background-color: blueviolet;
  }